    body
    {
    background-color: #ffffff;
    color: #666666;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
    line-height: 23px;
    background-attachment: fixed;
    }
    .header
    {
    	background-color: #333;
    	height: 47px;
    	width: auto;
    	color: white;
    	font-size: 20px;

    }
    .lover_header
    {
      background-color: orange;
      height: 60px;
      width: auto;
      color: red;
      font-size: 20px;

    }
    .main-navigation {
    width: 100%;
    display: block;
	}
	.main-navigation > ul > li > a {
    display: block;
    color: #555555;
    padding: 0 12px;
    line-height: 75px;
	}
	.stiker-fix-left {
    position: fixed;
    left: -15px;
    top: 135px;
    z-index: 1000;
}
ul {
    margin: 10px 0 10px 20px;
    list-style-type: disc;
}
.stiker-fix-left li {
    list-style: none;
}
.hero-slider.flexslider > ul.slides {
    height: 100%;
}
.flexslider .slides {
    zoom: 1;
}
.flexslider .slides {
    margin: 0;
    list-style-type: none;
}
.navbar {
  overflow: hidden;
  background-color: white;
  position: sticky;
  top: 0px;
  width: 102%;
  margin-left: -8px;
}

.navbar a {
  float: left;
  display: block;
  color: black	;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: red;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; 
}
 
.container
 {
    padding-right: 482px;
    padding-left: 199px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
}
.col-md-8 {
    width: 66.66666667%;

}
.col-md-12
{
	width: 100%;
}
.col-md-5 {
    width: 41.66666667%;
}
.col-md-9 {
    width: 75%;
}
.col-md-4 {
	width: 33.33333333%;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.acharya_m_img {
    margin-left: 744px;
    margin-top: -130px;
}
.god_m_img {
    margin-left: 744px;
    margin-top: -130px;
}
.titles
{
	height: 30px;
	width: 1100px;
	font-size: 17px;
    text-align: justify;
	margin-left: 184px;
    background-image: linear-gradient(to right, orange , red)!important;
    border: 1px solid #4cacc5!important;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.border-col {
    border-right: #e8e8e8 1px solid;
    
    padding-bottom: 40px;
}
.footer {
       height: 65px;
    width: 1350px;
    margin-left: -8px;
    background-color: black;
}
}
